pydantic==2.6.4
langchain==0.1.12
langchain_community==0.0.28
langchain_core==0.1.31
openai==1.14.0
tiktoken==0.6.0
pyodbc==5.1.0
pytest==8.1.1
coverage==7.4.4
pre-commit==3.8.0
pandas==2.2.3
numpy==1.26.4
regex==2024.9.11
nltk==3.9.1
sqlparse==0.5.1
dynaconf==3.2.6
